os: linux
dist: bionic
language: python

notifications:
  email: false
cache: pip
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8
    - graphviz
    - pandoc
jobs:
  fast_finish: true
  include:
  - if: branch = master AND type = push
    python: "3.7"
    install:
      - pip install -U pip virtualenv setuptools wheel
      - pip install -U -r requirements-dev.txt sphinx-intl qiskit
    script: travis_wait 60 tools/deploy_translated_documentation.sh
    git:
      depth: false
    env:
      - TRANSLATION_LANG=de_DE
  - if: branch = master AND type = push
    python: "3.7"
    install:
      - pip install -U pip virtualenv setuptools wheel
      - pip install -U -r requirements-dev.txt sphinx-intl qiskit
    script: travis_wait 60 tools/deploy_translated_documentation.sh
    git:
      depth: false
    env:
      - TRANSLATION_LANG=ja_JP

