:root {
--tabs-color-label-active: rgb(138, 63, 252);
--tabs-color-label-inactive: rgb(221, 225, 230);
--tabs-color-overline: rgb(207, 236, 238);
--tabs-color-underline: rgb(207, 236, 238);
--tabs-size-label: 1rem;
}