name: Docs Publish
on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language:
         - de_DE
         - bn_BN
         - fr_FR
         - ja_JP
         - ko_KR
         - pt_UN
         - es_UN
         - ta_IN
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U virtualenv setuptools wheel
        pip install -U -r requirements-dev.txt sphinx-intl qiskit
        pip install -c constraints.txt -U jupyter sphinx nbsphinx networkx sphinx_rtd_theme qiskit-terra[visualization] cvxpy 'pyscf<1.7.4'
        pip install -c constraints.txt -U .
        sudo apt-get install graphviz pandoc
    - name: Build and publish
      env:
        encrypted_rclone_key: ${{ secrets.encrypted_rclone_key }}
        encrypted_rclone_iv: ${{ secrets.encrypted_rclone_iv }}
        TRANSLATION_LANG: ${{ matrix.language }}
      run: |
        tools/deploy_translated_documentation.sh
