name: Docs Publish
on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: [de_DE, ja_JP, ko_KR, pt_BR, fr_FR, ta_IN]
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U virtualenv setuptools wheel
        pip install -U -r requirements-dev.txt sphinx-intl qiskit
        sudo apt-get install graphviz pandoc
    - name: Build and publish
      env:
        encrypted_rclone_key: ${{ secrets.encrypted_rclone_key }}
        encrypted_rclone_iv: ${{ secrets.encrypted_rclone_iv }}
        TRANSLATION_LANG: ${{ matrix.language }}
      run: |
        tools/deploy_translated_documentation.sh
