name: Stable Docs Publish
on:
  push:
    tags:
      - '*'
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: [de_DE, ja_JP, ko_KR, pt_UN, fr_FR]
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U virtualenv setuptools wheel
        pip install -U -r requirements-dev.txt sphinx-intl qiskit
        pip install -c constraints.txt -U jupyter sphinx nbsphinx networkx sphinx_rtd_theme 'matplotlib<3.3.0' qiskit-terra[visualization] cvxpy 'pyscf<1.7.4'
        pip install -c constraints.txt -U .
        sudo apt-get install graphviz pandoc
    - name: Build and publish
      env:
        encrypted_rclone_key: ${{ secrets.encrypted_rclone_key }}
        encrypted_rclone_iv: ${{ secrets.encrypted_rclone_iv }}
        TRANSLATION_LANG: ${{ matrix.language }}
      run: |
        tools/deploy_translated_documentation_tag.sh
