name: Staging translated Qiskit docs

on:
  pull_request:
    branches: [ master ]
  label:
     types: [ gh-pages ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:       
        language: [ko_KR, hi_IN, id_ID, pl_PL]
    if: contains( github.event.pull_request.labels.*.name, 'gh-pages' )
    steps:
    - uses: actions/checkout@v2

    - name: Cancel previous Runs
      uses: everphone-gmbh/cancel-previous-workflows@v5

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U virtualenv setuptools wheel
        pip install -U -r requirements-dev.txt sphinx-intl qiskit
        sudo apt-get install graphviz pandoc

    - name: Build translated Qiskit Docs
      env:
        TRANSLATION_LANG: ${{ matrix.language }}
      run: |
        tools/staging_translated_documentation.sh

    - name: Install SSH Client
      uses: webfactory/ssh-agent@v0.2.0
      with:
          ssh-private-key: ${{ secrets.GH_PAGES_DEPLOY_KEY }}

    - name: Deploy to gh-pages
      uses: JamesIves/github-pages-deploy-action@3.5.9
      with:
        BASE_BRANCH: master
        BRANCH: gh-pages
        FOLDER: build
        CLEAN_EXCLUDE: '["README.md", "index.html", "qiskit_header.png"]'
        SSH: true
